<nav class="navbar navbar-default"> 
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#opciones">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span class="navbar-brand" style="text-align: center">Opciones</span>
  </div>      
  <div class="collapse navbar-collapse" id="opciones">
    <div class="btn-group-vertical btn-block" role="group">

      <button type="button" class="btn btn-success btn-block" (click)="onCalcularClick()">Calcular</button>
      <button type="button" class="btn btn-success btn-block" (click)="onSaveClick()">Guardar</button>

      <button type="button" class="btn btn-success btn-block" data-toggle="collapse" data-target="#criterios">
        Criterios <span class="glyphicon glyphicon-triangle-bottom"></span></button>
      <ul id="criterios" class="nav nav-pills nav-stacked collapse">
        <li role="presentation"  (click)="addCriterion()"><a>Nuevo <span class="glyphicon glyphicon-plus"></span></a></li>
        <li role="presentation" *ngFor="let criterion of project.criteria">
            <a href="principal#Criterion={{criterion.name}}">{{criterion.name}} <span class="glyphicon glyphicon-remove remove" (click)="removeCriterion(criterion)" ></span></a>
        </li>
      </ul>

      <button type="button" class="btn btn-success btn-block" data-toggle="collapse" data-target="#alternativas">
        Alternativas <span class="glyphicon glyphicon-triangle-bottom"></span></button>
      <ul id="alternativas" class="nav nav-pills nav-stacked collapse">
        <li role="presentation" (click)="addAlternative()" ><a>Nuevo <span class="glyphicon glyphicon-plus"></span></a></li>
        <li role="presentation" *ngFor="let alternative of project.alternatives">
            <a href="principal#Alternative={{alternative.name}}">{{alternative.name}} <span class="glyphicon glyphicon-remove remove" (click)="removeAlternative(alternative)" ></span></a>
        </li>
      </ul>

      <div *ngIf="project.imMaster">
        <button type="button" class="btn btn-success btn-block" data-toggle="collapse" data-target="#evaluators">
          Evaluadores <span class="glyphicon glyphicon-triangle-bottom"></span></button>
        <ul id="evaluators" class="nav nav-pills nav-stacked collapse">
          <li role="presentation" (click)="addEvaluator()" ><a>Nuevo <span class="glyphicon glyphicon-plus"></span></a></li>
          <li role="presentation" *ngFor="let evaluator of project.evaluators">
              <a href="principal#Evaluator={{evaluator.email}}">{{evaluator.name}} <span class="glyphicon glyphicon-remove remove" (click)="removeEvaluator(evaluator)" ></span></a>
          </li>
        </ul>
      </div>

      <button type="button" class="btn btn-success btn-block" data-toggle="collapse" data-target="#prioridades">
        Prioridades <span class="glyphicon glyphicon-triangle-bottom"></span></button>
      <ul id="prioridades" class="nav nav-pills nav-stacked collapse">
        <li role="presentation" *ngFor="let criterionPairwise of criteriaPairwise">
            <a href="principal#Priority={{project.criteria[criterionPairwise.indexItem1].name}} vs {{project.criteria[criterionPairwise.indexItem2].name}}">
              {{project.criteria[criterionPairwise.indexItem1].name}} vs {{project.criteria[criterionPairwise.indexItem2].name}}</a>
        </li>
      </ul>

      <button type="button" class="btn btn-success btn-block" data-toggle="collapse" data-target="#evaluacion">
        Contexto de Evaluación <span class="glyphicon glyphicon-triangle-bottom"></span></button>
      <ul id="evaluacion" class="nav nav-pills nav-stacked collapse">
        <li role="presentation" *ngFor="let criterion of project.criteria">
          <a href="principal#CriteriaContext={{criterion.name}}">{{criterion.name}}</a>
        </li>          
      </ul>

      <button type="button" class="btn btn-success btn-block" data-toggle="collapse" data-target="#resultados">
        Resultados <span class="glyphicon glyphicon-triangle-bottom"></span></button>
      <ul id="resultados" class="nav nav-pills nav-stacked collapse">
        <li role="presentation"><a href="principal#nodesChart">Gráfica de Nodos</a></li>
        <li role="presentation"><a href="principal#criteriaChart">Gráfica de Criterios</a></li>
        <li role="presentation"><a href="principal#table">Matriz de Resultados</a></li>
        <li role="presentation"><a href="principal#chart">Gráfica de Resultados</a></li>
      </ul>

    </div>
  </div>
</nav>

