.navbar {
  position: fixed;
  width: 240px;
  height: 100%;
  margin-top: -15px;
  padding-bottom: 55px;
  overflow: auto;
}

.remove { float:right }

@media screen and (max-width:767px) { 
  .navbar {
    width: 100%;
    padding-bottom: 0px;
    height: auto;
    z-index: 1000;
    /*overflow: hidden;*/ 
  }
}

