<div class="container">
  <div class="row">
    <div class=" col-md-6">
      <div *ngIf="displayVideo" class="videoWrapper">
        <iframe width="560" height="315" frameborder="0"   
          src="https://www.youtube.com/embed/G1xrL59RsBM?&loop=1&playlist=G1xrL59RsBM&autoplay=1&rel=0&amp;controls=0&amp;showinfo=0">
        </iframe>
      </div>
    </div>
    <div class="text-center col-md-6">
      <h1>Decisión</h1>
      <p class="lead">
        Bienvenido, ahora podras tomar mejores decisiones y de manera más fácil basado en tus prioridades.
      </p>
        <label>¿No te has registrado?</label>
        <a class="btn btn-primary" [routerLink]="['/register']">Regístrate</a>
        <br><br>
        <label>¿Ya tienes una cuenta?</label>
        <a class="btn btn-success" [routerLink]="['/login']">Ingresa</a>
    </div>
  </div>  
<hr>
  <div class="row">
    <div class="col-md-4">
      <h3>Proceso de toma de decisiones</h3>
      <p align="justify">Según Robbins & Coulter (2005), el proceso de toma de decisiones, incluye una serie de ocho etapas que comienza por identificar el problema y los criterios de decisión y por ponderarlos; enseguida se pasa a trazar, analizar y elegir una alternativa para resolver el problema.</p>
    </div>
    <div class="col-md-4">
      <h3>Proceso analítico jerárquico</h3>
      <p align="justify">es una técnica estructurada para tratar con decisiones complejas basada en matemáticas y psicología. Provee un marco de referencia racional y comprensivo para estructurar un problema de decisión, es usado alrededor del mundo en una amplia variedad de situaciones de decisión</p>
    </div>
    <div class="col-md-4">
      <h3>Fácil de usar</h3>
      <p align="justify">Ayuda a los tomadores de decisiones a encontrar la solución que mejor se ajusta a sus necesidades y a su compresión del problema.</p>
    </div>
  </div>
</div>


